$yfs-text-color: #0b0c0c;
$yfs-secondary-text-color: #6f777b;

$blue: #1d70b8;
$red: #d4351c;

$primary: $red;
$dark: $yfs-text-color;

$component-active-bg: $blue;

$body-color: $yfs-text-color;

$link-color: $blue;
$link-hover-color: #003078;

$border-color: #b1b4b6;

$breadcrumb-font-size: 1rem;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
// $breadcrumb-item-padding: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider: "\27E9";
$breadcrumb-border-radius: 0;
